$font-size-base:              1.2rem; // Assumes the browser default, typically `16px`

/* ----------------------------------------------------------- */

$font-family-base:            'Open Sans', sans-serif;
$font-weight-base:            400;
$line-height-base:            1.5;

$headings-margin-bottom:      ($spacer / 2);
$headings-font-family:        'Montserrat', sans-serif;
$headings-font-weight:        700;
$headings-line-height:        1.5;
$headings-color:              theme-color('body-text');

/* ----------------------------------------------------------- */

$font-base: 15px;

$html-font-sizes: (
	xs: $font-base,
	sm: $font-base,
	md: $font-base,
	lg: $font-base,
	xl: $font-base
);



$h1-font-sizes: (
	xs: $font-base * 2,
	sm: $font-base * 2,
	md: $font-base * 4,
	lg: $font-base * 4,
	xl: $font-base * 4
);

$h2-font-sizes: (
	xs: $font-base * 1.75,
	sm: $font-base * 1.75,
	md: $font-base * 2,
	lg: $font-base * 2,
	xl: $font-base * 2
);

$h3-font-sizes: (
	xs: $font-base * 1.4,
	sm: $font-base * 1.4,
	md: $font-base * 1.4,
	lg: $font-base * 1.4,
	xl: $font-base * 1.4
);

$h4-font-sizes: (
	xs: $font-base * 1.2,
	sm: $font-base * 1.2,
	md: $font-base * 1.2,
	lg: $font-base * 1.2,
	xl: $font-base * 1.2
);

$h5-font-sizes: (
	xs: $font-base * 1.1,
	sm: $font-base * 1.1,
	md: $font-base * 1.1,
	lg: $font-base * 1.1,
	xl: $font-base * 1.1
);

$h6-font-sizes: (
	xs:$font-base,
	sm:$font-base,
	md:$font-base,
	lg:$font-base,
	xl:$font-base
);

/* ----------------------------------------------------------- */

$navbar-font-sizes: (
	xs: 18px,
	sm: 18px,
	md: 18px,
	lg: 18px,
	xl: 18px
);

$utility-bar-font-size:	(
	xs: 15px,
	sm: 15px,
	md: 15px,
	lg: 15px,
	xl: 15px
);

$site-legal-font-size: (
	xs: 15px,
	sm: 15px,
	md: 15px,
	lg: 15px,
	xl: 15px
);

/* ----------------------------------------------------------- */