hr.lg {
  margin-top: $hr-margin-y * 3;
  margin-bottom: $hr-margin-y * 3;
}

img {
  height: auto;
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

.accordion-header:after {
  font-family: "Font awesome\ 5 Free";
}

::placeholder {
  color: #acacac;
}
input,
textarea {
  border: 1px solid #e5e5e5;
  padding: 1rem;
}

textarea {
  height: 200px;
}

.wp-block-columns {
  margin-bottom: 0;
}

.wp-block-button__link {
  border-radius: 0;
  font-size: 16px;
  min-width: 200px;
}

.top-banner-subheading {
  font-family: $font-family-base;
  font-weight: 400;
}

.get-started-section {
  .trainer-icon,
  .counselling-icon,
  .rent-icon {
    margin-right: 1rem;
  }
  .card-body {
    padding: 0;
  }
  .col {
    flex: 1 1 33.33333%;
    padding-left: 8px;
    padding-right: 8px;
  }
}

.larger-container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  @include media-breakpoint-up("lg") {
    max-width: 1600px;
  }
}

.top-banner {
  h2,
  .h2 {
    font-weight: 400;
  }
  &.wp-block-cover {
    @include media-breakpoint-down(sm) {
      min-height: 150px !important;
    }
    .wp-block-cover__inner-container {
      width: 100%;
    }
  }
}

.product-details {
  display: none;
  &.show {
    display: block;
  }
}

.contact {
  .lg-social-media {
    list-style: none;
    padding-left: 0;
    display: flex;
    li a {
      color: theme-color("body-text");
      &:hover {
        color: theme-color("primary");
      }
    }
    li:not(:last-child) {
      margin-right: 10px;
    }
  }
}

.wp-block-lg-blocks-testimonials
  .lg-testimonial-list
  .lg-testimonial-list-item:not(:last-child) {
  border-bottom: 1px solid theme-color("primary");
}

// temproary fix for home page slider
@include media-breakpoint-down(md) {
  .home .wp-block-lg-blocks-testimonials .slick-slider .slick-list {
    padding: 0 !important;
  }
}

.two-col-swap {
  @media only screen and (max-width: 600px) {
    > .wp-block-column:first-child {
      order: 2;
    }

    > .wp-block-column:last-child {
      order: 1;
    }
  }
}
