#site-footer {
    #site-footer-main {
        background-color: transparent;
        color: theme-color('body-text');
        font-size: 1rem;
        .widget {
            &.widget_media_image {
                margin-bottom: 0;
            }
            .widget-title {
                border: none;
                background-color: transparent;
                padding: 0;
                color: theme-color('body-text');
                font-size: 1.2rem;
                font-weight: 600;
                margin-bottom:  1rem;
            }
            ul {
                list-style: none;
                padding-left: 0;
                li {
                    &:not(:last-child){
                        margin-bottom: .5rem;
                    }
                    a {
                        color: theme-color('body-text');
                        &:hover {
                            color: theme-color('primary');
                        }
                    }
                }
            }
        }
    }
    #site-legal {
        background-color: theme-color('light-gray');
        color: theme-color('body-text');
        > div a {
            color: theme-color('body-text');
            &:hover {
                color: theme-color('primary');
            }
        }
    }
}