.gform_wrapper form{
    .gform_body {
        .gform_fields {
            list-style: none;
            padding-left: 0;
            li {
                margin-bottom: 1rem;
                .gfield_label {
                    clip: rect(1px,1px,1px,1px);
                    position: absolute;
                    overflow: hidden;
                    display: inline-block !important;
                }
                input {
                    width: 100%;
                }
                textarea {
                    width: 100%;
                }
            }
        }
    }
    .gform_footer input[type=submit] {
        background-color: theme-color('secondary');
        color: #fff;
        border-color: theme-color('secondary');
        &:hover {
            background-color: darken(theme-color('secondary'), 15%);
            border-color: darken(theme-color('secondary'), 15%);
        }
    }
}