#site-header {
    @include media-breakpoint-up(xl){
        // add some margin to the menu so header looks balanced on desktop
        .main-navigation {
            > nav {
                margin-left: 30px;
            }
        }
    }
    @include media-breakpoint-down(sm){
        .logo {
            max-width: 175px;
        }
    }
    .header-announcement {
        background-color: theme-color('primary');
        svg {
            max-width: 20px;
            height: 30px;
            color: #fff;
            font-size: 14px;
            font-family: Helvetica, arial, sans-serif;
            text-transform: none;
            letter-spacing: normal;
        }
        .lg-ann-bar {
            background-color: transparent !important;
        }
    }
    
    .hamburger-box {
        @include media-breakpoint-down(sm){
            width: 30px;
            .hamburger-inner {
                width: 30px;
                height: 2px;
                &:before, &:after {
                    width: 30px;
                    height: 2px;
                }
            }
        }
        .hamburger-inner {
            background-color: theme-color('dark');
            &:before, &:after {
                background-color: theme-color('dark');
            }
        }
    }
    
    .header-main {
        .dropdown-menu {
            background-color: #fff;
            a {
                color: theme-color('body-text');
                &:hover {
                    color: theme-color('primary');
                }
            }
        }
        .main-navigation {
            background-color: #fff;
            .header-social-media {
                .lg-social-media {
                    list-style: none;
                    display: flex;
                    padding-left: 0;
                    margin-bottom: 0;
                    li {
                        &:not(:last-child){
                            margin-right: 1rem;
                        }
                        a {
                            color: theme-color('body-text');
                            &:hover {
                                color: theme-color('primary');
                            }
                        }
                    }
                }
            }
            nav {
                padding: 0;
                .navbar-collapse {
                    flex-grow: initial;
                }
                .navbar-nav {
                    .menu-item {
                        .nav-link {
                            color: theme-color('body-text');
                            text-transform: none;
                            &:hover {
                                color: theme-color('primary');
                            }
                        }
                    }
                }
            }
        }
    }
}