.rent-icon {
    &:before {
        content: '';
        background-image: url('/wp-content/themes/wp-web-bcneurofeedback/assets/dist/images/rent-neuroptimal.png');
        display: inline-block;
        background-repeat: no-repeat;
		background-size: contain;
		width: 30px;
        height: 30px;
        margin-top: 6px;
    }
}

.counselling-icon {
    &:before {
        content: '';
        background-image: url('/wp-content/themes/wp-web-bcneurofeedback/assets/dist/images/counselling.png');
        display: inline-block;
        background-repeat: no-repeat;
        background-size: contain;
        width: 30px;
        height: 30px;
        margin-top: 6px;
    }
}

.trainer-icon {
    &:before {
        content: '';
        background-image: url('/wp-content/themes/wp-web-bcneurofeedback/assets/dist/images/training.png');
        display: inline-block;
        background-repeat: no-repeat;
        background-size: contain;
        width: 30px;
        height: 30px;
        margin-top: 6px;
    }
}

.has-icon {
    .card-content {
        display: flex;
        .card-body {
            padding-top: 0;
        }
    }
}