.subscription {
    .wp-block-column {
        flex-basis: 50%;
    }
    .wp-block-column:first-child {
        .wp-block-image {
            margin-bottom: 0;
            height: 100%;
            
            img {
                height: 100%;
                object-fit: cover;
                @media only screen and (min-width: 1920px){
                    width: 100%;
                }
            }
        }
    }
    .wp-block-column:not(:first-child){
        @media only screen and (min-width: 1920px){
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        margin-left: 0;
        background-color: theme-color('light-gray');
        padding: 3rem;
        form {
            > div {
                flex-grow: 1;
                margin-bottom: 1rem;
                input {
                    width: 100%;
                }
                @include media-breakpoint-up('lg'){
                    margin-bottom: 0;
                }
            }
            @include media-breakpoint-up('lg'){
                display: flex;
            }
            
            label {
                position: absolute;
                clip: rect(1px,1px,1px,1px);
            }
        }
    }
}