.wp-block-lg-blocks-testimonials {
    > .fa-quote-left {
        display: none;
    }
    .slick-slider {
        .slick-list {
            max-width: none;
            text-align: left;
            .slick-track {
                display: flex;
                .slick-slide {
                    height: inherit;
                    padding: 2rem .5rem;
                    margin: 1rem;
                    @include media-breakpoint-up(lg){
                        padding: 2rem 6rem;
                        // margin: 0 3rem;
                    }
                    box-shadow: 0px 0px 3px 0px rgba(235, 235, 235, 0.4);   
                    border: 1px solid #f7f7f7; 
                    position: relative;
                    .lg-slider__content {
                        margin-bottom: 4rem;
                    }
                    &:before {
                        position: absolute;
                        top: .25rem;
                        left: 1rem;
                        content: '\f10d';
                        font-family: 'Font Awesome 5 Free';
                        font-weight: 900;
                        font-size: 60px;
                        color: rgba(theme-color('primary'),0.25);
                    }
                    &:after {
                        position: absolute;
                        right: 1rem;
                        bottom: .25rem;
                        content: '\f10e';
                        font-family: 'Font Awesome 5 Free';
                        font-weight: 900;
                        font-size: 60px;
                        color: rgba(theme-color('primary'),0.25);
                    }
                }
            }
        }
    } 
} 